/**
 * Helpers
 */

// Mixin for generating fontawesome styles
@mixin fontawesome($name) {
    @include fa-icon;
    @extend .fa-#{$name};
    @extend .fa-#{$name}:before;
}

@mixin bg-alpha-variant($parent, $color, $alpha) {
    #{$parent} {
      background-color: rgba($color, $alpha) !important;
    }
    a#{$parent},
    button#{$parent} {
      @include hover-focus {
        background-color: darken($color, 10%) !important;
      }
    }
  }


/**
 * Theme Styles
 */


/**
 * Reset the color of links
 * - Post headings
 * - Footer
 * - Widgets
 */
.entry-title a, #page-footer a, .widget a {
    @extend .text-reset;
}

// Remove the background defined in understrap
#wrapper-footer-full{
    background-color: initial !important;
}

// Add spacing under the widgets (except the last one)
.widget:not(:last-child) {
    @extend .mb-4;
}

// Format lists in sidebar and footer widgets as a column nav
.widget, .footer-widget {
    & ul {
        @extend .nav;
        @extend .flex-column;
    }
}
.widget, .footer-widget {
    & ul > li {
        @extend .mb-1;
    }
}

// Add a chevron on the end of all links in lists in the sidebar widgets
.widget ul > li > a::after {
    @include fontawesome('chevron-right');
    float: right;
}

// Make the header image fill the available width
.cover-image {
    @extend .w-100;
    @extend .h-100;
    -o-object-fit: cover;
    font-family: "object-fit:cover";
    object-fit: cover;
}
.container-cover-image {
    @extend .position-absolute;
    @extend .w-100;
    @extend .h-100;
    z-index: -1;
}

// Stop the header getting too wide
#custom-header-content {
    max-width: 1250px;
}

@each $alpha in 500 {
    @include bg-alpha-variant(".bg-alpha-#{$alpha}", $black, $alpha / 1000);
  }

