@mixin alert-variant($background, $border, $color) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: color-yiq($background);

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken(color-yiq($background), 10%);
  }
}
